$c-eggshell: rgba(250, 243, 221, 1);
$c-rufous: rgba(155, 41, 21, 1);
$c-safety-orange: rgba(255, 119, 0, 1);
$c-charcoal: rgba(46, 64, 87, 1);
$c-moonstone: rgba(0, 159, 183, 1);
$c-black: black;
$c-white: white;
$c-lightsalmon: lightsalmon;
$c-black: black;
$c-grey: rgb(204, 204, 204)